
# utils
alias cpcontentstoclipboard='xclip -sel clip <'

# Minikube
alias startminikube='sudo minikube start --vm-driver=none --cpus=4 --memory 4096'

# Kubectl
alias k='kubectl'
alias kg='kubectl get'
alias kd='kubectl describe'
#https://github.com/ahmetb/kubectl-aliases/blob/master/.kubectl_aliases

# Helm

